body {
	background-color: #000;
}
.dereck-part {
	position: absolute;
}
#gangeticus {
	margin-left : 100px;
	margin-top:52px;
}
#mindorensis {
	margin-left : 514px;
	margin-top:594px;
}
#_moreletii {
	margin-left : 100px;
	margin-top:594px;
}
#niloticus {
	margin-left : 100px;
	margin-top:454px;
}
#novaeguineae {
	margin-left : 514px;
	margin-top:454px;
}
#porosus {
	margin-left : 514px;
	margin-top:315px;
}
#rhombifer {
	margin-left : 378px;
	margin-top:315px;
}
#schlegelii {
	margin-left : 100px;
	margin-top:315px;
}
#siamensis {
	margin-left : 239px;
	margin-top:315px;
}
#tetraspis {
	margin-left : 100px;
	margin-top:176px;
}