body {
	background-image: url(../img/allo.jpg);
	width: 700px;
	height: 500px;
	text-align: center;
	background-repeat: no-repeat;
	
}
#unicorns {
	width: 700px;
	height: 500px;
	background-image: url(../img/unicorn.png);
	background-repeat: no-repeat;
	background-position: bottom right;
}